<!-- Asad -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {% include 'navbar.html' %}
  <div class="login-container">
    <form class="login-form" method="post">
      {% csrf_token %}
      <div class="form-title">Login</div>
      <div class="form-label">Username</div>
      {{ form.username }}
      <div class="form-label">Password</div>
      {{ form.password }}
      <button type="submit">Login</button>
    </form>
    <div class="image-container">
      <img src="{% static 'images/qmul.png' %}">
      <h1>Queen Mary University of London</h1>
    </div>
  </div>
</body>

</html>