<!-- Mustafa (Munaib styling) -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/resetPassword.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include "navbar.html" %}
    <div class="resetPasswordContainer">

        <div class="resetPasswordForm">
            <div class="formFields">
                <form action="" method="post">
                    {% csrf_token %}
                    <h2>New Password</h2><div class='newPassword'>{{form.newPassword}}</div>
                    <h2>Verify Password</h2><div class="verifyPassword">{{form.verifyPassword}}</div>
                    <button>Submit</button>
                </form>
            </div>
        </div>

        <div class="resetPasswordInfo">
            <h2 align = 'center'><u>Length Limit</h2></u></h2>
            <h2>New Password:</h2><h3>⠀⠀8 Characters, 1 Capital Letter, 1 Number</h3>
            <h2>Verify Password:</h2><h3>⠀⠀8 Characters, 1 Capital Letter, 1 Number</h3>
        </div>

    </div>

</body>
</html>