.createEcContainer, .createTechContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 90vh;
}

.createEcContainer .createEcForm,.createTechContainer .createTechForm {
    position: relative;
    background-color: white;
    margin-top: 0.5rem; margin-bottom: 0.5rem; margin-right: 0.5rem;
    padding: 0.7rem;
}

.createEcContainer .createEcForm .formFields input,.createTechContainer .createTechForm .formFields input{
    border: none;
    outline: none;
    border-bottom: solid;
    margin-bottom: 0.7rem;
    width: 60%;
    color: #0d3273;
}

.createEcContainer .createEcForm .formFields textarea,.createTechContainer .createTechForm .formFields textarea{
    border-color: #0d3273;
    border-width: 2.5px;
    color: #0d3273;
}

.createEcContainer .createEcForm .formFields .title,.createTechContainer .createTechForm .formFields .title
.createEcContainer .createEcForm .formFields .description,.createTechContainer .createTechForm .formFields .description
.createEcContainer .createEcForm .formFields .module,.createEcContainer .createEcForm .formFields .component{
    height: fit-content;
    color: #0d3273;
}

.createEcContainer .createEcForm .formFields h2:after,.createTechContainer .createTechForm .formFields h2:after {
    content: "  *Required";
    color: red;
    font-size: small;
}

.evidence-title::after{
    content: none !important;
}

.createEcContainer .createEcInfo,.createTechContainer .createTechInfo {
    background-color: white;
    margin-bottom: 0.5rem; margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.7rem;
}

.createEcContainer h2,.createTechContainer h2{
    padding: 0;
    margin: 0.3rem;
    font-family: 'Inter'; font-size: 22px; color: #0d3273;
}

.createEcContainer .createEcInfo h3,.createTechContainer .createTechInfo h3{
    padding: 0;
    margin: 0;
    font-family: 'Inter'; font-size: 16px; color: #0d3273;
    margin-bottom: 0.4rem;
}

.description{
    font-family: 'Inter';
    font-size: 16px; 
    color: #0d3273;
}
    
.createEcContainer .createEcForm .button,.createTechContainer .createTechForm .button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #0d3273;
    color: white;
    border: none;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 6px;
}

@media screen and (max-width: 750px) {
    .createEcContainer, .createTechContainer {
        grid-template-columns: 100%;
    }

    .createEcContainer .createEcForm,.createTechContainer .createTechForm {
        margin-right: 0;
    }

    .createEcContainer .createEcInfo,.createTechContainer .createTechInfo {
        margin-left: 0;
    }
}