body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 60%;
    margin-left: 20%; margin-right: 20%;
    display: flex; flex-direction: column;
}

.container .chart-container #myChart, .container .chart-container #myChart2 {
    flex: 1;
    margin: 10px;
    margin-top: 2.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
}

.container .chart-container{
    min-width: 0; min-height: 0;
}


@media screen and (max-width: 750px) {
    .container {
        margin-left: 2.5%; margin-right: 2.5%;
        width: 95%;

    }
}