body {
    background-color: #D9D9D9;
}
  
#heading {
  text-decoration: underline;
  font-family: 'Inter';
  font-size: 25px;
  color: #0d3273;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 95%; 
  margin-left: 2%;
}
  
.left-box {
  height: 50vh;
  background-color: #fff;
  padding: 12px;
  padding-left: 2%;
  width: 98%;
}
  
.fault-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.fault-username,.fault-title,.fault-date,.fault-status,.fault-manage {
  padding: 8px;
  font-family: 'Inter';
  font-size: 20px;
  color: #0d3273;
}

.fault-status {
  font-family: 'Inter';
  font-size: 22px;
}
  
.grid-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fault-heading > * {
  font-weight: bold;
}

.fault-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

.fault-item:nth-child(n+2) {
    background-color: #D9D9D9;
  }

.fault-item:not(:last-child) {
    border-bottom: 2px solid #ccc;
  }

.manage-button,
.manage-button:hover,
.manage-button:focus {
  background-color: #0d3273;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-family: 'Inter';
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.fault-manage a {
  color: white;
  text-decoration: none;
}
