body {
    background-color: #f2f2f2;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 95%; /* Set the width of the grid container */
    margin-left: 2%;
  }
  
  .left-box {
    height: 50vh;
    background-color: #fff;
    padding: 12px;
    padding-left: 2%;
    width: 98%;
  }
  
  .ec-container {
    width: 100%;
    border-collapse: collapse;
  }
  
  .ec-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .ec-item, .ec-heading {
    font-weight: bold;
  }

  .ec-username,.ec-title,.ec-date,.ec-status,.ec-manage {
    padding: 8px;
    font-family: 'Inter';
    font-size: 22px;
    color: #0d3273;
  }
  
  .ec-item:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .ec-heading.ec-username,.ec-heading.ec-title,.ec-heading.ec-date,.ec-heading.ec-status {
    font-weight: bold;
  }
  
  .ec-item.ec-status small {
    font-size: 18px;
  }
  
  /* Add some space around the grid container */
  .grid-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .ec-empty {
    text-align: center;
  }