body {
  background-color: #D9D9D9;
}
  
#heading {
  text-decoration: underline;
  font-family: 'Inter';
  font-size: 25px;
  color: #0d3273;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 100%; 
  margin: 0 auto;
}
  
.left-box {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 2%;
  min-height: 80vh; 
}
  
.fault-username,.fault-title,.fault-date,.fault-status,.fault-manage {
  padding: 8px;
  font-family: 'Inter';
  font-size: 20px;
  color: #0d3273;
}
  
.grid-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
  
.fault-heading > * {
  font-weight: bold;
}
  
.fault-item:first-child {
  background-color: #D9D9D9;
}
  
.fault-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-color: #0d3273;
}
  
.manage-button,
.manage-button:hover,
.manage-button:focus {
  background-color: #0d3273;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-family: 'Inter';
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
  
.fault-manage a {
  color: white;
  text-decoration: none;
}

.filter-block{
    padding: 15px 0 0 0;
  }
  
  
  