<!--Munaib -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Create Technical Fault</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/createEcAndTechnicalFault.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="createTechContainer">

        <div class="createTechForm">

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="formFields">
                    <h2>Title</h2><div class="title">{{form.title}}</div>
                    <h2>Description</h2><div class="description">{{form.description}}</div>
                    <h2>Location</h2><div class="location">{{form.location}}</div>
                    <h2>Priority</h2><div class="priority">{{form.priority}}</div>
                    <h2 class="evidence-title">Upload Evidence</h2><div class="evidence">{{form.evidence}}</div>
                </div>
                <input class= 'button' type="submit" value="Submit">
            </form>
        </div>

        <div class="createTechInfo">
            <h2 align = 'center'><u>Length Limit</h2></u></h2>
            <h2>Title:</h2><h3>⠀⠀Max Length 100 Characters</h3>
        </div>
    </div>
</body>

</html>