{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
</head>

<form class="filter" action="" method="get">
  <div class="status-choice">
  {% for choice in STATUS_CHOICES %}
    <div>
    <input type="checkbox" name="statusFilters" value="{{choice}}" />{{choice}}
    <br>
    </div>

  {% endfor %}
  </div>

  <br>

  <div class="priority-choice">
  {% for choice in PRIORITY_CHOICES %}

    <input type="checkbox" name="priorityFilters" value="{{choice}}" />{{choice}}
    <br>

  {% endfor %}
</div>

  <button>Filter</button>
</form>