<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}My Tickets{% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/findPersonalTickets.css' %}">
  <link rel="stylesheet" href="{% static 'css/filter.css' %}">
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container">
    <header>
      <h1>Welcome {{ username }}!</h1>
    </header>
    
    <div class="filter-block">
    <form class="filter" action="" method="get">
      <div class="status-choice">
      {% for choice in STATUS_CHOICES %}
        <div>
        <input type="checkbox" name="statusFilters" value="{{choice}}" />{{choice}}
        <br>
        </div>

      {% endfor %}
      </div>

      <br>

      <div class="priority-choice">
      {% for choice in PRIORITY_CHOICES %}

        <input type="checkbox" name="priorityFilters" value="{{choice}}" />{{choice}}
        <br>

      {% endfor %}
    </div>

      <button>Filter</button>
    </form>
  </div>

    <main>
      {% block content %}
      <div class="ticket-box">
        <div class="title-container">
          <h1>My ECs</h1>
        </div>
        <div class="left-box">
          <table>
            <thead>
              <tr>
                <th class="title-column">Title</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in ECs %}
              <tr>
                <td class="descriptionLimited" title="{{ticket.title}}">{{ ticket.title }}</td>
                <td>{{ ticket.dateCreated }}</td>
                <td>
                  {% if ticket.status == 'Pending' %}
                  <span style="color: orange;"> {{ ticket.status }} </span>
                  {% elif ticket.status == 'Rejected' %}
                  <span style="color: red;">{{ ticket.status }} </span>
                  {% elif ticket.status == 'Resolved' %}
                  <span style="color: green;"> {{ ticket.status }} </span>
                  {% else %} {{ ticket.status }} {% endif %}
                </td>
                <td>
                  <form action="{% url 'ViewECDetails' username=username ticketID=ticket.id %}" method="get">
                    <button>View</button>
                  </form>
                </td>
                <td>
                  <form action="{% url 'DeleteEC' username=username ticketID=ticket.id %}" method="get">
                    <button onclick="confirmDelete(event)">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endblock %}

      {% block content2 %}
      <div class="ticket-box">
        <div class="title-container" id="table2">
          <h1>My Technical Faults</h1>
        </div>
        <div class="right-box">
          <table>
            <thead>
              <tr>
                <th class="title-column">Title</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for techFault in techFaults %}
              <tr>
                <td class="descriptionLimited" title="{{techFault.title}}">{{ techFault.title }}</td>
                <td>{{ techFault.dateCreated }}</td>
                <td>
                  {% if techFault.status == 'Pending' %}
                  <span style="color: orange;"> {{ techFault.status }} </span>
                  {% elif techFault.status == 'Rejected' %}
                  <span style="color: red;">{{ techFault.status }} </span>
                  {% elif techFault.status == 'Resolved' %}
                  <span style="color: green;"> {{ techFault.status }} </span>
                  {% else %} {{ techFault.status }} {% endif %}
                </td>
                <td>
                  <form action="{% url 'ViewTechnicalFaultDetails' username=username ticketID=techFault.id %}" method="get">
                    <button>View</button>
                  </form>
                </td>
                <td>
                  <form action="{% url 'DeleteTechnicalFault' username=username ticketID=techFault.id %}" method="get">
                    <button onclick="confirmDelete(event)">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endblock %}

      <script src="{% static 'js/confirmDelete.js' %}"> </script>
      <script src="{% static 'js/descriptionLimiter.js' %}"></script>

    </main>
  </div>
</body>
</html>