<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Tickets</title>
</head>
<body>
    <h1> List Of Personal Tickets </h1>
    {% if tickets %}
        <ul>
        {% for ticket in tickets %}
            <li>
                {{ ticket.title }} - {{ ticket.description }}
                {% if ticket.status == 'Open' %}
                    <span style="color: red;">(Open)</span>
                {% elif ticket.status == 'Closed' %}
                    <span style="color: green;">(Closed)</span>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any tickets.</p>
    {% endif %}
</body>
</html>