<!DOCTYPE html>
<html lang="en">

{%load static%}

<head>
    <meta charset="UTF-8">
    <title>List All Technical Faults</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/listAllTechnicalFaults.css' %}">
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="filter-block">
        {% include "filters.html" %}
      </div>

    <div class="grid-container">
        <div class="left-box">

            <div class="heading-container">
                <h2 id="heading">Technical Faults</h2>
                <button class="viewGraph"><a href="graphTechnicalFaults">View Statistics</a></button>
            </div>
            <div class="fault-container">

                <div class="fault-item fault-heading">
                    <div class="fault-username">Username</div>
                    <div class="fault-title">Title</div>
                    <div class="fault-date">Date</div>
                    <div class="fault-status">Status</div>
                    <div class="fault-manage">Manage</div>
                </div>
                {% for fault in technical_fault_list %}

                <div class="fault-item-mobile">
                    <div class="fault-item-heading-m">
                        <h4 class="fault-title">Username: <span class="mini-text">{{ fault.username.username }}</span></h4>
                        <h4 class="fault-date">Date: <span class="mini-text">{{ fault.dateCreated }}</span></h4>
                    </div>
                    <div class="fault-item-details-m">
                        <h4 class="fault-title">Title: <span class="mini-text descriptionLimited">{{ fault.title }}</span></h4>
                        <div class="fault-status fault-status-m">
                            <h4>Status:
                            {% if fault.status == 'Pending' %}
                            <span class="mini-text" style="color: orange;">{{ fault.status }}</span>
                            {% elif fault.status == 'Rejected' %}
                            <span class="mini-text" style="color: red;">{{ fault.status }}</span>
                            {% elif fault.status == 'Resolved' %}
                            <span class="mini-text" style="color: green;">{{ fault.status }}</span>
                            {% else %}{{ fault.status }}{% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="fault-manage">
                        <button class="manage-button">
                            <a href="{% url 'ManageEC' ticketID=fault.ticketID %}">Manage</a>
                        </button>
                    </div>
                </div>

                <div class="fault-item">
                    <div class="fault-username">{{ fault.username.username }}</div>
                    <div class="fault-title descriptionLimited" title="{{fault.title}}">{{ fault.title }}</div>
                    <div class="fault-date">{{ fault.dateCreated }}</div>
                    <div class="fault-status"> 
                        {% if fault.status == 'Pending' %} 
                        <span style="color: orange;">{{ fault.status }}</span> 
                        {% elif fault.status == 'Rejected' %} 
                        <span style="color: red;">{{ fault.status }}</span> 
                        {% elif fault.status == 'Resolved' %} 
                        <span style="color: green;">{{ fault.status }}</span> 
                        {% else %}{{ fault.status }}{% endif %} 
                    </div>
                    <div class="fault-manage">
                        <button class="manage-button">
                            <a href="{% url 'ManageTechnicalFault' ticketID=fault.ticketID %}">Manage</a>
                        </button>
                    </div>
                </div>
                {% empty %}
                <div class="fault-item">
                    <div class="fault-username fault-empty" colspan="4">No Technical Faults found.</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/descriptionLimiter.js' %}"></script>
</body>
</html>