<!DOCTYPE html>
<html lang="en">

{%load static%}

<head>
  <meta charset="UTF-8">
  <title>List All ECs</title>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/listAllECs.css' %}">
  <link rel="stylesheet" href="{% static 'css/filter.css' %}">
</head>

<body>
    {% include 'navbar.html' %}


    {% include "filters.html" %}
    <div class="filter-block">
        <form class="filter" action="" method="get">
          <div class="status-choice">
          {% for choice in STATUS_CHOICES %}
            <div>
            <input type="checkbox" name="statusFilters" value="{{choice}}" />{{choice}}
            <br>
            </div>
    
          {% endfor %}
          </div>
    
          <br>
    
          <div class="priority-choice">
          {% for choice in PRIORITY_CHOICES %}
    
            <input type="checkbox" name="priorityFilters" value="{{choice}}" />{{choice}}
            <br>
    
          {% endfor %}
        </div>
    
          <button>Filter</button>
        </form>
      </div>

    <div class="grid-container">
        <div class="left-box">
            <h2 id="heading">ECs</h2>
            <div class="ec-container">
                <div class="ec-item ec-heading">
                    <div class="ec-username">Username</div>
                    <div class="ec-title">Title</div>
                    <div class="ec-date">Date</div>
                    <div class="ec-status">Status</div>
                    <div class="ec-manage">Manage</div>
                </div>
                {% for ec in ec_list %}
                <div class="ec-item">
                    <div class="ec-username">{{ ec.username.username }}</div>
                    <div class="ec-title descriptionLimited" title="{{ec.title}}">{{ ec.title }}</div>
                    <div class="ec-date">{{ ec.dateCreated }}</div>
                    <div class="ec-status"> {% if ec.status == 'Pending' %} 
                        <span style="color: orange;">{{ ec.status }}</span> 
                        {% elif ec.status == 'Rejected' %} <span style="color: red;">{{ ec.status }}</span> 
                        {% elif ec.status == 'Resolved' %} <span style="color: green;">{{ ec.status }}</span> 
                        {% else %}{{ ec.status }}{% endif %} 
                    </div>
                    <div class="ec-manage">
                        <button class="manage-button">
                            <a href="{% url 'ManageEC' ticketID=ec.ticketID %}">Manage</a>
                        </button>
                    </div>
                </div>
            {% empty %} 
                <div class="ec-item"> 
                    <div class="ec-username ec-empty" colspan="4">No ECs found.</div> 
                </div> 
            {% endfor %} 
            </div>
        </div>
    </div>
    <script src="{% static 'js/descriptionLimiter.js' %}"></script>
</body>
</html>