<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Ticket</title>
</head>
<body>
    {% include 'navbar.html' %}

    {% for ticketDetail in ticketDetails %}
    <h2>Managing TicketID: {{ticketDetail.id}}</h2>
    <p>Title: {{ticketDetail.title}}</p>
    <p>Description: {{ticketDetail.description}}</p>
    <p>Status: {{ticketDetail.status}}</p>
    <p>Date: {{ticketDetail.dateCreated}}</p>
    {% if ticketDetail.status_update_reason %}
    <p>Status Update Reason: {{ticketDetail.dateCreated}}</p>
    {% endif %}
    <p>Student: {{ticketDetail.username_id}}</p>
    <p>module: {{ticketDetail.module}}</p>
    <p>Student: {{ticketDetail.component}}</p>
    
    {% endfor %}

    {% include 'manageTicketSubmit.html' %}
</body>
</html>