<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Ticket</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/manageECs.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/manageECsMobile.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    {% include 'navbar.html' %}

    <div class="manage-ticket-container">
        <div class="manage-ticket-inner-container">
            {% for ticketDetail in ticketDetails %}
            <h4 class="ec-student-username">Student: <span class="mini-text">{{ticketDetail.username_id}}</span></h4>
            <h3 class="ec-ticket-id">TicketID: {{ticketDetail.id}}</h3>
            <h4 class="ec-date">Date: <span class="mini-text">{{ticketDetail.dateCreated}}</span></h4>
            <h4 class="ec-module">Module: <span class="mini-text">{{ticketDetail.module}}</span></h4>
            <h4 class="ec-status">Status: <span class="mini-text">{{ticketDetail.status}}</span></h4>
            <h4 class="ec-component">Component: <span class="mini-text">{{ticketDetail.component}}</span></h4>
            <div class="gap-row">
                <hr>
            </div>
            <div class="ec-title">
                <h4>Title: <span class="title-format">{{ticketDetail.title}}</span></h4>
            </div>
            <div class="ec-priority">
                <h4>Priority: <span class="mini-text">{{ticketDetail.priority}}</span></h4>
            </div>
            <div class="ec-desc">
                <h4>Description: </h4>
                <p>{{ticketDetail.description}}</p>
            </div>
            <div class="ec-evidence">
                <h4>Uploaded Evidence</h4>
                {% if ticketDetail.evidence %}
                    <a href="/media/{{ticketDetail.evidence}}" target="_blank" rel="noopener noreferrer">{{ticketDetail.evidence}}</a>
                {% else %}
                    <p>No evidence uploaded.</p>
                {% endif %}
            </div>


            {% endfor %}
            {% include 'manageTicketSubmit.html' %}
        </div>
    </div>


</body>
</html>