{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/c.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<header>
    <nav class = 'navContainer'>
        <div class = 'navImage'>
            <img src="{% static 'img/QMLogo.png' %}" alt="QM Logo">
        </div>
        
       
        <ul class="navOptions">
            <li><a href="{% url 'viewServiceStatus' %}">View Service Status</a></li> 
            {% if userType == None %}
            <li><a href="{% url 'Login' %}">Login</a></li>
            {% else %}
            {% if userType == 'Admin' and userType != 'Student'%}
            <li><a href="{% url 'Create New User' %}">Create New User</a></li> 
            {% endif %}
            {% if userType != 'TechnicalFaultHandler' and userType != 'Student' %}
            <li><a href="{% url 'ListECs' %}">List All ECs</a></li> 
            {% endif %}
            {% if userType != 'ECHandler' and userType != 'Student' %}
            <li><a href="{% url 'ListTechnicalFaults' %}">List All Technical Faults</a></li> 
            {% endif %}

            {% if userType == 'Student' %}
            <li><a href="{% url 'CreateEC' username=username %}">Create EC</a></li>
            <li><a href="{% url 'CreateTechnicalFault' username=username %}">Create Technical Fault</a></li>
            <li><a href="{% url 'FindPersonalTickets' username=username %}">Find Personal Tickets</a></li> 

            {% endif %}
            <li id = 'logout'><a href="{% url 'Logout' %}">Log Out</a></li>
           
            {% endif %}

            
            
        </ul>
    </nav>
</header>