{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
</head>

<header>
  
    <nav class = 'navContainer'>
        <div class = 'navImage'>
            <img src="{% static 'img/QMLogo.png' %}" alt="QM Logo">
        </div>
        
        <ul class="navOptions">
            <li><a href="{% url 'viewServiceStatus' %}">View Service Status</a></li> 
            <li><a href="{% url 'FAQs' %}">FAQs</a></li>
            {% if userType == None %}
            <li><a href="{% url 'Login' %}">Login</a></li>
            {% else %}
            
            {% if userType == 'Admin' and userType != 'Student'%}
            <li><a href="{% url 'Create New User' %}">Create New User</a></li> 
            <li><a href="{% url 'listAllUsers' %}">List All Users</a></li> 
            {% endif %}
            {% if userType != 'TechnicalFaultHandler' and userType != 'Student' %}
            <li><a href="{% url 'ListECs' %}">List All ECs</a></li> 
            {% endif %}
            {% if userType != 'ECHandler' and userType != 'Student' %}
            <li><a href="{% url 'ListTechnicalFaults' %}">List All Technical Faults</a></li> 
            {% endif %}
            

            {% if userType == 'Student' %}
            <li><a href="{% url 'CreateEC' username=username %}">Create EC</a></li>
            <li><a href="{% url 'CreateTechnicalFault' username=username %}">Create Technical Fault</a></li>
            <li><a href="{% url 'FindPersonalTickets' username=username %}">Find Personal Tickets</a></li> 

            {% endif %}
            <li class="profile">
                <span class="material-symbols-outlined account_box" onclick="submenuHandler(event)"> account_box </span>
                <div class="submenu-container">
                    <div class="submenu"> 
                        <div class="submenu-header">
                            {{name}} {{surname}}
                            <hr>
                        </div> 
                        
                    

                        <ul class="submenu-options">
                            <li> <a href="/viewProfile">viewProfile</a></li>
                            <li  id="logout" > <a href="{% url 'Logout' %}">Logout</a></li>
                            
                        </ul>
                                         
                    </div>
                </div>
            </li>
           
            {% endif %}
            

        </ul>
    </nav>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                <div class="message">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </div>
                <span class="material-symbols-outlined" onclick="messageClose(event)">
                    close
                    </span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
</header>

<script src="{% static 'js/messageClose.js' %}"></script>
<script src="{% static 'js/submenuHandler.js' %}"></script>
