<!-- Asad -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/viewTicketDetails.css' %}">
    <title>View {{ticketType}} Details</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="ticket-details">
            <h1>View {{ticketType}} Details</h1>
            {% for key, value in ticket.items %}
            {% if key == "dateCreated" %}
            <div class="ticket-detail">
                <span class="ticket-detail-label">Date Created:</span>
                <span class="ticket-detail-value">{{value}}</span>
            </div>
            {% elif key == "dateResolved" %}
            {% if value %}
            <div class="ticket-detail">
                <span class="ticket-detail-label">Date Resolved:</span>
                <span class="ticket-detail-response">{{value}}</span>
            </div>
            {% endif %}

            {% elif key == "status_update_reason" %}
            {% if value %}
            <div class="ticket-detail">
                <span class="ticket-detail-label">Response:</span>
                <span class="ticket-detail-response">{{value}}</span>
            </div>
            {% endif %}
            {% elif key == "evidence" %}
            <div class="ticket-detail">
                <span class="ticket-detail-label">Evidence:</span>
                {% if value %}
                <a href="/media/{{value}}" target="_blank" rel="noopener noreferrer">{{value}}</a>
                {% else %}
                <span class="ticket-detail-value">No evidence</span>
                {% endif %}
            </div>
            {% elif key != "username_id" %}
            <div class="ticket-detail">
                <span class="ticket-detail-label">{{key|capfirst}}:</span>
                <span class="ticket-detail-value">{{value}}</span>
                {% if value == "Pending" or value == "Resolved" or value == "Rejected" %}
                <div class="status-circle {{value}}">

                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>