@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.navbar {
    background-color: #0D3273;
    color: #D9D9D9;
    padding: 20px;
}

body {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form {
    background-color: white;
    margin: 10%;
    padding: 10%;
    width: auto;
    height: auto;
}


.form-label {
    color: #0D3273;
    margin-bottom: 5px;
    font-size: medium;
}

.form-title {
    color: #0D3273;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #0D3273;
    font-size: xx-large;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #0D3273;
    background-color: none;
    color: #0D3273;
    outline: none;
}

.login-form button {
    width: 35%;
    margin-left: 65%;
    background-color: #0D3273;
    color: white;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #00549F;
}

.image-container {
    width: 45%;
    height: auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-container h1 {
    color: #0D3273;
}