
.resetPasswordContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 90vh;
}

.resetPasswordContainer .resetPasswordForm {
    margin-left: 0.5rem;
    position: relative;
    background-color: white;
    margin-top: 0.5rem; margin-bottom: 0.5rem; margin-right: 0.5rem;
    padding: 0.7rem;
    height: 80vh;
}

.resetPasswordContainer .resetPasswordForm .formFields input{
    border: none;
    outline: none;
    border-bottom: solid;
    margin-bottom: 0.7rem;
    width: 60%;
    color: #0d3273;
}


.resetPasswordContainer .resetPasswordForm .formFields .newPassword,
 .resetPasswordContainer .resetPasswordForm .formFields .verifyPassword{
    height: fit-content;
    color: #0d3273;
}

.resetPasswordContainer .resetPasswordForm .formFields h2:after {
    content: "  *Required";
    color: red;
    font-size: small;
}


.resetPasswordContainer .resetPasswordInfo {
    background-color: white;
    margin-bottom: 0.5rem; margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.7rem;
    height: 80vh;
}

.resetPasswordContainer h2{
    padding: 0;
    margin: 0.3rem;
    font-family: 'Inter'; font-size: 22px; color: #0d3273;
}

.resetPasswordContainer .resetPasswordInfo h3{
    padding: 0;
    margin: 0;
    font-family: 'Inter'; font-size: 16px; color: #0d3273;
    margin-bottom: 0.4rem;
}

.description{
    font-family: 'Inter';
    font-size: 16px; 
    color: #0d3273;
}

.resetPasswordContainer .resetPasswordForm .formFields input{
    border: none;
    outline: none;
    border-bottom: solid;
    margin-bottom: 0.7rem;
    width: 60%;
    color: #0d3273;
}
    
.resetPasswordContainer .resetPasswordForm button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #0d3273;
    color: white;
    border: none;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 6px;
    font-size: 1.25rem;
}

.resetPasswordContainer .resetPasswordForm button:hover {
    text-decoration: none;
    background-color: hsla(218, 80%, 25%, 0.7) !important;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .resetPasswordContainer {
        grid-template-columns: 100%;
    }

    .resetPasswordContainer .resetPasswordForm {
        margin-right: 0;
        margin-left: 0;
    }

    .resetPasswordContainer .resetPasswordInfo {
        margin-left: 0;
        margin-right: 0;
    }
    .resetPasswordContainer .resetPasswordForm button{
        font-size: 1.5rem;
    }
}