.viewServiceStatusContainer, .editServiceStatusContainer{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    position: relative;
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    height: fit-content;
}

.viewServiceStatusContainer h1, .editServiceStatusContainer h1{
    font-family: 'Inter'; font-size: 28px; color: #0d3273;
    text-decoration: underline;
}

.viewServiceStatusContainer .serviceBox,.viewServiceStatusContainer .topBorder{
    border-bottom: solid;
    color: #0d3273;
}

.viewServiceStatusContainer .serviceBox p, .editServiceStatusContainer .editServiceStatusBox{
    font-family: 'Inter'; font-size: 18px; color: #0d3273;
}

.viewServiceStatusContainer .serviceBox .service_name
,.editServiceStatusContainer .editServiceStatusBox .statusLabel, .editServiceStatusContainer .editServiceStatusBox .descriptionLabel{
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.viewServiceStatusContainer .serviceBox .serviceButton{
    font-family: 'Inter'; font-size: 14px; color: white;
    background-color: #0d3273;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    width: 30%;
    margin-left: 70%;
}

.viewServiceStatusContainer .serviceBox .serviceButton:hover {
    text-decoration: underline;
    color: aqua;
}

.viewServiceStatusContainer .serviceBox .goodService {
    color: #13E101;
}

.viewServiceStatusContainer .serviceBox .noService {
    color: #EE1010;
}

.viewServiceStatusContainer .serviceBox .partialService {
    color: #FFA800;
}

.editServiceStatusContainer .editServiceStatusBox .topBorder{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid;
    color: #0d3273;
}

.editServiceStatusContainer .editServiceStatusBox input, .editServiceStatusContainer .editServiceStatusBox select{
    color: #0d3273;
    border: none;
    border-bottom: solid;
    border-width: 2px;
    border-color: #0d3273;
    width: 50%;
}

.editServiceStatusContainer .editServiceStatusBox #editServiceStatusButton{
    color: white;
    border: none;
    background-color: #0d3273;
    border-radius: 4px;
    padding: 0.2rem;
    width: 30%;
    margin-left: 70%
}

.editServiceStatusContainer .editServiceStatusBox #editServiceStatusButton:hover {
    text-decoration: underline;
    color: aqua;
}

@media screen and (max-width: 750px) {
    .viewServiceStatusContainer, .editServiceStatusContainer{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}