<!-- Sakib (Munaib styling) -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>View Service Status</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/viewAndEditServiceStatus.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="viewServiceStatusContainer">
        
        <h1 align = 'center'> Current EECS Service Status</h1>

        {% csrf_token %}
    
        {% if services %}
        <div class="topBorder"></div>

        {% for service in services %}
        <div class="serviceBox">
            <p class="service_name">{{service.service_name}}</p>
            <p class="service_status {% if service.status == 'Good Service' %}goodService{% elif service.status == 'No Service' %}noService{% else %}partialService{% endif %}">
                Current Status: {{ service.status }}
            </p>
            {% if service.status_description %}
            <p class="status_description">Description: {{service.status_description}}</p>
            {% endif %}
            {% if userType == 'Admin' %}
            <a href="{% url 'editServiceStatus' service_name=service.service_name %}"><button class = 'serviceButton'>Manage Status</button></a>
            {% endif %}
        </div>

        {% endfor %}

        {% else %}

        <h2>Your system has no added any services yet, please check back later</h2>

        {% endif %}
    </div>
</body>

</html>